<div id="user-subscribe-container" class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title"><%= t(:newsletter)%></h1>
  </div>

  <div class="panel-body user-newsletters">
    <div class="form-group">
      <%= f.check_box :subscribed, id: 'chimpy-subscribed' %>
      <%= f.label :subscribed, Spree.t(:admin_subscribed_label, scope: :chimpy) %>
    </div>
    <div class="form-group col-md-12" id="chimpy-subscribed-list-container">
      <div class="title"> <label>Newsletter Lists:</label> </div>
    <%= f.collection_check_boxes(:mailchimp_lists_ids, Spree::Chimpy.api.lists.list(filters=[], start=0, limit=100, sort_field='created', sort_dir='DESC')["data"].map{|li| [li['id'],li['name']]}, :first, :last) do |list| %>
      <% checked = @user.mailchimp_lists_ids.include? list.value %>
      <%= list.label(class: "check_box") { list.check_box(checked: checked ) + list.text } %>
    <% end %>
    </div>
  </div>
</div>

